APScheduler==3.5.1
beautifulsoup4==4.6.3
bs4==0.0.1
cachetools==2.1.0
certifi==2018.4.16
chardet==3.0.4
google-api-python-client==1.7.4
google-auth==1.5.0
google-auth-httplib2==0.0.3
httplib2==0.11.3
idna==2.7
lxml==4.2.5
msgpack==0.5.6
numexpr==2.6.8
numpy==1.15.1
oauth2client==4.1.2
pandas==0.23.4
pyasn1==0.4.4
pyasn1-modules==0.2.2
pymongo==3.7.1
python-dateutil==2.7.3
pytz==2018.5
pyzmq==17.1.2
requests==2.19.1
rsa==3.4.2
simplejson==3.16.0
six==1.11.0
SQLAlchemy==1.2.10
tables==3.4.4
tushare==1.2.17
tzlocal==1.5.1
uritemplate==3.0.0
urllib3==1.24.2
ylog==0.0.3
